//custom
img{
    max-width:100%;
    height: auto;
}

// header
header.masthead{
    top:-30px;
}

//query
a.query-item{
    display: block;
    text-decoration: none;

    &:hover{
        color:black;
    }
}

//repair logs table
@media(max-width: 569px) {
    .repairContainer{
        overflow-x: auto;
    }

    .repairTable{
        width: 960px;
    }
}

