// admin-navbar
.admin-navbar{
    z-index: 10;
}

// hero to text
.hero-to-text{
    background: url("https://web-eshop.cdn.hinet.net/eShop%20Images/Gallery/new/1600x900/tiny/iStock-802301270.jpg") no-repeat center center/cover;
    position: relative;
    top:-61.6px;
    color:#fff;
    margin-bottom: 30px;

    .mask{
        position: absolute;
        top:0;
        left:0;
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
    }

    h1{
        padding-top: 200px;
    }

    h2{
        padding-bottom: 200px;
    }
}
